{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Ivan Reichert" />
    <title>GeliOS PROJECT</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- MAP CSS -->
    <link href="{% static 'css/map.css' %}" rel="stylesheet" />

    <!-- JQUERY Latest-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Google Maps style and script-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG5MsZa9rHqmwkfjP_55a0Gf9z3lWn8t8&callback=initMap&libraries=places&v=weekly" defer></script>

</head>

<body id="page-top">
    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">DegPic Ltd.</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <!-- Navigation bar components -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Über das Projekt</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Hardware</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#karte">Karte</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">GELIOS</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">Das GeliOS-System sucht nach dem "bequemsten Weg" zwischen zwei Punkten auf der Karte, basierend auf einigen gesammelten Daten. Außerdem werden die Systemtelemetriedaten von Benutzern gesammelt.</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Mehr über das Projekt</a>
                </div>
            </div>
        </div>
    </header>

    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <!-- About GeliOS Project -->
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Über GeliOS</h2>
                    <hr class="divider light my-4" />
                    <p class="text-white-50 mb-4">Unser Projekt verfolgt das Ziel, einen Service zu starten, der die Sammlung und Analyse von Umweltdaten ermöglicht , damit es für alle möglich wäre, einen am besten passenden Weg(sowie Fahrrad als auch Fußweg) zwischen zwei Punkten
                        zu finden
                    </p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Zum Projekt</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">GeliOSESP32 Hardware</h2>
            <hr class="divider my-4" />
            <!-- Components are used in project -->
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="text-center" style="height: 300px; width: 285px;">
                            <img src="{% static 'images/esp32.jpg' %}" class="rounded " style="width: 200px;" alt="esp32">
                        </div>
                        <h3 class="h4 mb-2">Sparkfun ESP32 Thing</h3>
                        <p class="text-muted mb-0">Das SparkFun ESP32 Thing ist eine Entwicklungsplattform für den ESP32 Mikrocontroller(BLE fähig) von der Firma Espressif. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="text-center" style="height: 300px; width: 285px;">
                            <img src="{% static 'images/nova.jpg' %}" class="rounded " style="width: 200px;" alt="nova">
                        </div>
                        <h3 class="h4 mb-2">Nova PM Sensor SDS011</h3>
                        <p class="text-muted mb-0">Der SDS011 nutzt das Prinzip der Laserstreuung, um Partikel zwischen 0,3 und 10 µm in der Luft zu erkennen</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="text-center" style="height: 300px; width: 285px;">
                            <img src="{% static 'images/em506_2.jpg' %}" class="rounded " style="width: 200px;" alt="em506">
                        </div>
                        <h3 class="h4 mb-2">GPS Modul EM506</h3>
                        <p class="text-muted mb-0">Dieses EM-506 GPS-Modul bietet eine überragende Empfindlichkeit und Leistung, selbst in städtischen Umgebung. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="text-center" style="height: 300px; width: 285px;">
                            <img src="{% static 'images/grove.jpg' %}" class="rounded " style="width: 200px;" alt="grove loudness">
                        </div>
                        <h3 class="h4 mb-2">Grove Loudness Sensor</h3>
                        <p class="text-muted mb-0">Der Grove - Loudness Sensor nimmt die Lautstärke von Geräuschen in der Umgebung auf</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Map -->
    <section id="karte">
        <div class="container">
            <h2 class="text-center mt-0">Karte</h2>
            <hr class="divider my-4" />
            <!-- Forms for input of origin and destination points -->
            <div id="map_form">
                <form method="POST" id="post_form">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <!-- Origin -->
                            <div class="input-box col-sm" style="text-align: center;">
                                <input id="origin-input" class="controls" type="text" placeholder="Enter an origin location" name="origin_location" required style="margin: auto 0; height: 38px;" />
                            </div>
                            <!-- Destination -->
                            <div class="input-box col-sm" style="text-align: center;">
                                <input id="destination-input" class="controls" type="text" placeholder="Enter a destination location" name="destination_location" required style="margin: auto 0; height: 38px;" />
                            </div>
                            <!-- Submit button to send infos to the views.py -->
                            <div class="col-sm" style="text-align: center;">
                                <input type="submit" name="submit" class="btn btn-primary" id="submit_btn" value="Send" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>
        <!-- Placeholder for Google Map element -->
        <div class="container-fluid" id="map" style="width:100%;height:850px;"></div>
    </section>

    <!-- Rating table -->
    <section class="page-section">
        <div class="container text-center">
            <h2 class="text-center mt-0">Auswertungsdaten</h2>
            <hr class="divider my-4" />
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th scope="col">Ratings</th>
                        <th scope="col">Dust</th>
                        <th scope="col">Mic</th>
                        <th scope="col">Dist</th>
                        <th scope="col">All</th>
                        <th scope="col">Number of data</th>
                    </tr>
                </thead>
                <tbody id="data_table"> </tbody>
            </table>
        </div>
    </section>

    <!-- Contact -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Let's Get In Touch!</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>Just mail us!</div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <a class="d-block" href="mailto:contact@degpic.com">contact@degpic.com</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright © 2021 - DegPic Ltd.</div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- MAP JS-->
    <script src="{% static 'js/map.js' %}"></script>

</body>

</html>